* {
    outline: none;
    margin: 0;
}

html, body {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-size: 14px;
    color:rgb(44, 44, 44)
}

a {
    text-decoration: none;
    transition: .3s;
    &:hover{
        opacity: .9;
        transition: .3s;
    }
}

.wrapper {
    box-sizing: border-box;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

$step: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 100, 150);

$ot_map: (m: margin, p:padding);

@each $n, $c in $ot_map{
    .#{$n}{
        @each $v in $step {
            &#{$v} {
                #{$c}: #{$v}px;
            }
            &t#{$v} {
                #{$c}-top: #{$v}px;
            }
            &b#{$v} {
                #{$c}-bottom: #{$v}px;
            }
            &r#{$v} {
                #{$c}-right: #{$v}px;
            }
            &l#{$v} {
                #{$c}-left: #{$v}px;
            }
        }
    }
}

@media screen and (max-width: 1406px){
    // .wrapper {
    //     padding-left: 20px;
    //     padding-right: 20px;
    // }
}
